<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9abab0ea8b.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>home</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light position-absolute top-0 bg-warning"
      style="height: 60px; width: 100%"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="../assets/images/logo.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">ADD PROJECT</a>
            </li>
          </ul>
          <a class="btn btn-primary" href="/contact" role="button"
            >contact</a
          >
        </div>
      </div>
    </nav>
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div class="d-flex gap-5" style="width: 80%; height: 70%">
        <div
          class="d-flex-start align-items-center justify-content-center px-3"
          style="padding-top: 80px; flex: 70%; gap: 2%"
        >
          <div id="content" style="height: 50%; width: 100%">
            <h5 class="card-title">Welcome To My Profile</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              totam in ullam, laudantium a inventore nemo, similique autem rerum
              praesentium quos nostrum cumque, necessitatibus optio ad quaerat
              quia. Saepe, dignissimos. Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Mollitia modi et beatae ab aliquid
              exercitationem mitem, atque aliquam velit tempore nesciunt
              adipisci fugit consectetur totam. Some quick example text to build
              on the card title and make up the bulk of the card's content.
            </p>
          </div>
          <div
            class="d-flex gap-2"
            id="button"
            style="width: 100%; height: 20%"
          >
            <a class="btn btn-primary" style="height: 40px" href="/contact"
              >contact</a
            >
            <a class="btn btn-primary" style="height: 40px" href="https://drive.google.com/uc?export=download&id=1vE8hWGSTKhDHrKQHJxgYKJl6aF7TGOHY"
              >Download CV</a
            >
            <img src="../assets/images/download.jpg" style="height: 40px" />
          </div>
          <div
            id="media-social"
            class="d-flex fs-3"
            style="width: 100%; height: 10%; gap: 30px"
          >
            <a href="https://www.facebook.com/login/">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com/login">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/login/">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/?hl=id">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center rounded bg-body shadow"
          style="flex: 30%; border: 1px solid black"
        >
          <div class="bg-warning" style="width: 90%">
            <img
              class="card-img-top"
              src="../assets/images/card.jpg"
              style="width: 100%"
            />
          </div>
          <h3>FANDI NUR</h3>
          <p>FULLSTACK</p>
        </div>
      </div>
    </div>
{{!-- dinamyc content --}}
    <div class="d-flex justify-content-center align-items-center" style=>
      {{#each indexx}}

      <div class="d-grid gap-3 d-flex-column justify-content-center align-items-center rounded shadow bg-warning " style="width:30%;border: 1px solid rgb(0, 0, 0); padding: 10px;">
        
        <div class="card" style="width: 15rem;"style="border: 1px solid black;">
          <img src="../assets/images/check.png" class="card-img-top"style="border: 1px solid black;">
        </div>
        <div>
          <a href="/blog/{{@index}}" target="_blank">{{this.title}}</a>
          <p class="" style="font-size: 9px;">{{this.duration}}</p>
        </div>
        
        <div>
          <p>{{this.description}}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center"style="font-size: 30px; gap: 20px ;">
            <i class='{{this.java}}'></i>
            <i class=' {{this.js}}'></i>
            <i class='{{this.php}}'></i>
            <i class='{{this.react}}'></i>
        </div>
        {{#if isLogin}}
        <div class="btn-group d-flex justify-content-center align-items-center" role="group" aria-label="Basic example">
          <a href="/edit-blog/{{@index}}" target="_blank" class="btn btn-primary">edit Blog</a>
          <a href="/delete-blog/{{@index}}" class="btn btn-primary">Delete Blog</a>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <!-- boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
